.horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
  .img-logo{
  	width: 50px;
  	height: 50px;
    margin-top: -5px;
    margin-left: 36px;
  }
  .img-logos{
    width: 50px;
    height: 50px;
    margin-top: -27px;
    margin-left: 25px;
  }
  .panel-titles{
  	font-weight: bold;
    font-family: serif;
    margin-top: 23px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 24px;
    color: inherit;
  }

  .button-login{
  	text-align: center;
    width: 30em;
    margin: auto;
    font-weight: bold;
  }
  .app-modal-window {
      margin: auto;
  }
  .modal-dialog{
    width: 40%;
  }
  .forms{
    width: 50%;
    height: auto;
    display: block;
    border-radius: 5px;
    background-color:#f8f8f8;
    border: 1px solid #ccc;
    margin: auto;
    padding: 2em;
  }
  .forms-contain{
    margin: auto;
    padding: 1em;
  }
  .navbars{
    position: relative;
    min-height: 77px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .navbar-defaults{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .forms-body{
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 1em;
    margin-top: 80px;
  }
  .form-img-background{
     /*background: url(../image/ITS.jpg);
     width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
  }
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;

  }
  form.tab-form-demo{
    width: 80%;
    margin: auto;
  }
  .title-admin{
    text-align: center;
    font-weight: bold;
    font-family: serif;
    margin-top: 15px;
    font-size: 29px;
  }
  .title-admin1{
    text-align: center;
    font-weight: bold;
    font-family: serif;
    margin-top: 15px;
    font-size: 29px;
    margin-right: 29em;
    width: auto;
  }
  .form1{
    background-color: white;
    padding: 1em;
    border-radius: 5px;
  }
  
 .tab-content{
    padding-top: 3em;
    padding-bottom: 2em;
 }
 .info-logo{
    font-weight: bold;
    font-size: 22px;
 }
 .log-out-icon{
    margin-top: 21px;
    margin-right: 39px;
    float: right;
 }
