.horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
  .img-logo{
  	width: 50px;
  	height: 50px;
    margin-top: -5px;
    margin-left: 36px;
  }
  .panel-titles{
  	font-weight: bold;
    font-family: serif;
    margin-top: 23px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 24px;
    color: inherit;
  }

  .body-container{
 
  }
  .button-login{
  	text-align: center;
    width: 30em;
    margin: auto;
    font-weight: bold;
  }
  .app-modal-window {
      margin: auto;
  }
  .modal-dialog{
    width: 40%;
  }
  .forms{
    width: 50%;
    height: auto;
    display: block;
    border-radius: 5px;
    background-color:#f8f8f8;
    border: 1px solid #ccc;
    margin: auto;
    padding: 2em;
  }
  .forms-contain{
    margin: auto;
    padding: 1em;
  }
  .navbars{
    position: relative;
    min-height: 77px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .navbar-defaults{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .forms-body{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 1em;
    margin-top: 80px;
  }
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;

  }
  form.tab-form-demo{
    width: 80%;
    margin: auto;
  }
  .title-admin{
    text-align: center;
    font-weight: bold;
    font-family: serif;
    margin-top: 15px;
    font-size: 29px;
  }
