<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
	</head>
	<body class="body-contain1">
		<nav class="navbars navbar-defaults" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href=""><img class="img-logo" src="image/holycrosslogo.png"></a>
			</div>
			<div class="navbar-header">
				<h4 class="panel-titles">Information Technology Society Organization</h4>
			</div>
			<div class="log-out-icon">
				<a class="btn btn-default" href="#!"><span class="glyphicon glyphicon-log-out">Logout</span></a>
			</div>
		</nav>
		<div class="contain-body">
			<div class="forms-body">
				<div class="form-img-background">
					<div class="form-group">
						<a class="navbar-brand" href=""><img class="img-logos" src="image/ITS.jpg"></a>
						<h3 class="title-admin1">ITS Election</h3>
					</div>
					<hr/>
					<div class="record-info">
						<!-- <form name="outerForm" class="tab-form-demo"> -->
						<uib-tabset active="activeForm">
						<uib-tab index="0" heading="Registration">
						<div class="form1">
							<div class="form-group">
								<h4><span class="glyphicon glyphicon-info-sign"> Information</span></h4>
							</div>
							<hr/>
							<!-- <ng-form name="nestedForm"> -->
							<form name="formValidation" required novalidate>
								<div class="form-register">
									<div class="form-group">
										<label>Candidate #</label>
										<input type="text" class="form-control" readonly />
										<label>Fullname</label>
										<input type="text" class="form-control" ng-minlength="5" ng-maxlength="50" name="fullName" ng-model="fullname" placeholder="Enter fullname" validation-form ng-change="onChange()" required/>
										<div ng-messages="formValidation.fullName.$error" class="errorvalidation">
											<div ng-message="required" ng-show="formValidation.fullName.$touched">This field is required</div>
											<div ng-message="maxlength">Your field is too long</div>
											<div ng-message="minlength">Your field is too short</div>
										</div>
										<label>Position</label>
										<select class="form-control">
											<option>Select position</option>
											<option>President</option>
											<option>Vice President</option>
											<option>Secretary</option>
										</select>
									</div>
									<div class="form-group">
										<button class="btn btn-secondary" ng-disabled="formValidation.$invalid"><span class="glyphicon glyphicon-ok"> Register</span></button>
										<button class="btn btn-secondary" type="reset" ng-disabled="{{valid}}"><span class="glyphicon glyphicon-remove"> Clear</span></button>
									</div>
								</div>
							</form>
							<!-- </ng-form> -->
						</div>
						</uib-tab>
						<uib-tab index="1" heading="Candidates list">
						<div class="form1">
							<div class="form-group">
								<h4><span class="glyphicon glyphicon-list-alt"> List</span></h4>
							</div>
							<hr/>
							<div class="form-group">
								<div class="panel panel-default">
									<!-- Default panel contents -->
									<div class="panel-heading">Position</div>
									<!-- Table -->
									<table class="table">
										<thead>
											<tr>
												<th>Register #</th>
												<th>Name</th>
												<th>Position</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td><a href="" ng-click="editadmin()">Roa duterte</a></td>
												<td>President</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Sarah duterte</td>
												<td>Vice president</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						</uib-tab>
						<uib-tab index="2" heading="Voter list">
						<div class="form1">
							<h4><span class="glyphicon glyphicon-search"> Searching</span></h4>
							<hr/>
							<div class="form-group">
								
								<input type="text" class="form-control" required placeholder="Searching...." />
							</div>
							
							<div class="form-group">
								<div class="panel panel-default">
									<div class="panel-heading">List of voter</div>
									<table class="table">
										<thead>
											<tr>
												<th>Voter #</th>
												<th>Name</th>
												<th>Password</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>48496509</td>
												<td>Reymon Dinagat</td>
												<td>#&$@@#SS</td>
											</tr>
											<tr>
												<td>48496501</td>
												<td>Opp hahaha</td>
												<td>SD123s%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						</uib-tab>
						<uib-tab index="3" heading="Ongoing result">
						<div class="form1">
							Some Tab Content
						</div>
						</uib-tab>
						<uib-tab index="4" heading="Final result">
						<div class="form1">
							Some Tab Content
						</div>
						</uib-tab>
						</uib-tabset>
						<!-- </form> -->
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>