<!DOCTYPE html>
<html>
<head>
<style>
        .candidate-style{
        	font-family: serif;
        	font-size: 25px;
        }
        table td, th{
        	width: 50%;
        	text-align: center;
        	font-size: 15px;
        }
        table{
        	margin-top: 25%;
        	margin-left: 5%;
        }
          .forms-body{
			background-color: #e7e7e7;
			border-color: #e7e7e7;
			width: 60%;
			margin: auto;
			border-radius: 5px;
			padding: 1em;
			margin-top: 80px;
		  }
		  .list-group-item {
		  	width: 300px;
		  }
		  .btn{
		  	width: 100px;

		  }
		  .list-form-view{
		  	border: 1px solid #ddd;
		  	width: 50%;
		  	height: 450px;
		  	background-color: #fff;
		  	float: right;
		  	margin-top: -35em;
		  	margin-right: 10em;
		  }
		
		 a{
		 	color: green;
		 }
		 .btn-success{
		 	width: 30%;
		 	padding: 10px;
		 	margin: -15% auto auto 45%;
		 }
</style>
    <title></title>
</head>
<body>
    <nav class="navbars navbar-defaults" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><img class="img-logo" src="image/holycrosslogo.png"></a>
            </div>
            <div class="navbar-header">
                <h4 class="panel-titles">Information Technology Society Organization</h4>
            </div>
<!-- 
           
            <div class="log-out">
                <a class="btn btn-default" href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out">Logout</span></a>
            </div>
 -->
     </nav>
<div class="contain-body">
    <div class="forms-body">
        <div class="form-img-background">
            <a class="navbar-brand" href=""><img class="img-logos" src="image/ITS.png"></a>
            <div class="form-group">
            <h3 class="title-admin1">ITS Election</h3>
            </div>
            <hr/>

                    <ul>
                        <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#pres" >President</a>
                        </li>
                        <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#ivp" >Internal Vice President</a>
                        </li>
                          <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#evp" >External Vice President</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#sec" >Secretary</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#asec" >Assistant Secretary</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#treas" >Treasurer</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#atreas" >Assistant Treasurer</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#aud" >Auditor</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#pio" >PIO</a>
                        </li>
                           <li class="list-group-item row">
                            <a type="button" class="btn col-lg-3" data-toggle="collapse" data-target="#bus" >Business Manager</a>
                        </li>
                         
                    </ul>
                    <div class="list-form-view">
                        <div class="list-group">
                            <div class="collapse" id="pres" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'President'}:true">
                                        <td><input type="radio" name="pres" ng-model="$parent.press" value="{{x.id}}""></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>

                            </div>
                            
                            <div class="collapse" id="ivp" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Internal Vice President'}:true">
                                        <td><input type="radio" name="ivp" ng-model="$parent.internalvicepress" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="evp" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'External Vice President'}:true">
                                        <td><input type="radio" name="evp" ng-model="$parent.externalvicepress" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="sec" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Secretary'}:true">
                                        <td><input type="radio" name="sec" ng-model="$parent.secretary" value="{{x.id}}"></td>
                                        <td>{{x.id+' '+x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="asec" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Assistant Secretary'}:true">
                                        <td><input type="radio" name="pres" ng-model="$parent.asstSec" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="treas" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Treasurer'}:true">
                                        <td><input type="radio" name="treas" ng-model="$parent.treasurer" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="atreas" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Assistant Treasurer'}:true">
                                        <td><input type="radio" name="atreas" ng-model="$parent.asstTreas" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="aud" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Auditor'}:true">
                                        <td><input type="radio" name="aud" ng-model="$parent.auditor" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="pio" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'PIO'}:true">
                                        <td><input type="radio" name="pio" ng-model="$parent.pio" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="collapse" id="bus" style="padding-top: 5px;">
                                <table>
                                    <tr>
                                        <th>Vote</th>
                                        <th>Candidate/s</th>
                                    </tr>
                                    <tr ng-repeat="x in candidatesData| filter:{position:'Business Manager'}:true">
                                        <td><input type="radio" name="bus" ng-model="$parent.busManager" value="{{x.id}}"></td>
                                        <td>{{x.first_name+' '+x.middle_name+' '+x.last_name}}</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                            <div class="btnSubmit">
                                <button ng-click="submitvotes($parent.press,$parent.internalvicepress,$parent.externalvicepress,$parent.secretary,$parent.asstSec,$parent.treasurer,
                                $parent.asstTreas,$parent.auditor,$parent.pio,$parent.busManager)" class="btn btn-success" >Submit</button>
                            </div>  
        </div>
    </div>
</div>

</body>	
</html>